@mixin empty($iconSize:160px) {
  text-align: center;

  & > .md-icon {
    width: $iconSize;
    height: $iconSize;
    font-size: $iconSize;
    color: rgba(0, 0, 0, 0.26);
  }

  & > div.title {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
  }
}

@mixin emptyWrapper($iconSize:160px) {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .empty {
    @include empty($iconSize);
  }
}
